
#messages{
    list-style: none;
}
.messages{
    height: 65%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}
.messages li{
    text-align: left;
    font-size: 0.8em;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.messages li div{
    text-align: center;
}
#message-user{
    margin-bottom: 0px;
    font-size: 0.6em;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}
#message-date{
    font-size: 0.5em;
    text-align: center;
}
.messages li button{
    display: none;
    background-color: white;
    border: none;
    outline: none;
}
#iconDelete{
    width: 50px;
    height: 50px;
}
#chat-list-item{
    list-style: none;
    color: white;
    text-decoration: dashed;
}
.chat-options{
    list-style: none;
    color: rgb(39, 111, 192);
    text-decoration: dashed;
}
#chat-list{
    margin-top: 5%;
}
.messages li:hover{
 cursor: pointer;
}
.messages li:hover .messages li button{
    display: initial;
    cursor: pointer;
}