.background-image{
  width: 90vh;
  height: 100vh;
  position: relative;
  margin-left: 40%;
  overflow: hidden;
}
.doge-container{
  overflow: hidden;
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 40%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  .sidebar h1{
    padding: 8px 8px 8px 32px;
  }
  /* The sidebar links */
  #chat-list a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .chat-options{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(117, 193, 255);
    display: block;
    transition: 0.3s;
    border: none;
    background:transparent;
    outline: none;
  }
  
  /* When you mouse over the navigation links, change their color */
  .chat-options:hover {
    color: #f3a041;
  }
  #chat-list a:hover{
    color: #f3e141;
  }
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  #new-chat{
    text-align: center;
    outline: none;
    box-shadow: none;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  @media screen and (max-width: 450px) {
    .background-image{
      margin-left: 15%;
    };
    .chat-options{
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: rgb(117, 193, 255);
      display: block;
      transition: 0.3s;
      border: none;
      background:transparent;
      outline: none;
    }
  }
